
NavigationPart/.vs/NavigationPart/FileContentIndex/2cc4b26a-c980-474e-8990-7ec0bf22ca8e.vsidx
NavigationPart/.vs/NavigationPart/FileContentIndex/691c0809-f844-4544-b324-d54a2f232eeb.vsidx
NavigationPart/.vs/NavigationPart/FileContentIndex/ff7a5f7f-ac35-45f5-a174-007e2d9205b1.vsidx
NavigationPart/.vs/NavigationPart/FileContentIndex/3e10cff6-8e70-4435-a52d-0fa93b2d3470.vsidx
NavigationPart/.vs/NavigationPart/FileContentIndex/9c670f8c-e728-4098-8b37-2de769dd455e.vsidx
NavigationPart/.vs/NavigationPart/FileContentIndex/9532878d-9df4-4063-84bb-3d04708bbfc0.vsidx
*.vsidx
G-Navigation/.vs/G-Navigation/v17/.suo
G-Navigation/G-Navigation/obj/Debug/DesignTimeResolveAssemblyReferences.cache
G-Navigation/G-Navigation/obj/Debug/DesignTimeResolveAssemblyReferences.cache
